    :root {
        --blue: #2B63D9;
    }

    body {
        font-family: 'Inter';
    }

    .foot {
        background-color: #151B28;
    }

    .nav-height {
        min-height: 10vh
    }
   
    .head-text {
        font-size: 4.2vw;
        font-style: normal;
        font-weight: 700;
        line-height: 5vw;
        letter-spacing: -0.0325vw;
    }

    @media only screen and (max-width: 767px) {
        .nav-height {
            min-height: 5vh
        }

        .head-text {
            font-size: 2.8vw;
            font-style: normal;
            font-weight: 700;
            line-height: 5vw;
            letter-spacing: -0.0325vw;
        }
    }

    .head-p-text {

        font-size: 1.5vw;
        font-style: normal;
        font-weight: 400;
        line-height: 2vw;
        letter-spacing: -0.00625vw;
        color: #B1CCFB

    }

    .menu-height {
        min-height: 90vh;
        width:100%
    }

    @media only screen and (min-width: 991px) {
        .menu-height {
            min-height: 90vh
            
        }
        .img-min-height{
            min-height:75vh
        }
    }

    @media only screen and (max-width: 990px) {
        .menu-height {
            min-height: 85vh;
        }
    }

    @media only screen and (max-width: 767px) {
        .menu-height {
            min-height: 50vh;
        }
    }

    .section {
        min-height: 85vh;
    }

    .brand {
        margin-left: 12%;
        margin-right: 2%;
    }


    .section-two {
        min-height: 100vh;
    }

    .card-head {
        font-size: 1.5vw;
        font-style: bold;
        font-weight: 600;
        line-height: 1.875vw;
        letter-spacing: -0.01375vw;
    }

    .card-body-manual {
        color: #5F6D7E;
        /* Text L/Regular */
        font-family: 'Inter';
        font-size: 1.1vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5vw;
        letter-spacing: -0.00625vw;
    }

    .img-label {
        width: 2vw;
        height: 2vw;
    }

    .section-three {
        min-height: 100vh;
    }

    .section-three h5 {
        font-size: 1.375vw;
        font-style: normal;
        font-weight: 600;
    }

    .section-three p {
        font-size: 1vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5vw;
    }

    .p-space {
        line-height: 1.5;
    }

    .text-style {
        font-weight: 700;
        font-size: 2vw
    }

    .head {
        background: var(--blue)
    }

    .blue-var {
        background: var(--blue)
    }

    .section-head-img {
        background: #437EF7;
    }

    .full-height {
        height: 100%;
    }

    .round {
        width: 3.5vw;
        height: 3.5vw;
        display: inline-block;
        /* Adjust display property as needed */
    }

    .blog-img {
        width: 3.5vw;
        height: 3.5vw;
    }

    .section-third {
        min-height: 100vh;
        background: #151B28;
    }

    .section-fourth {
        min-height: 60vh;
        padding: 4vw 0vw;
    }

    #blog p {
        font-size: 0.9375vw;
    }

    #blog img {
        width: 2.4vw;
        padding-right: 0px;
    }

    .sf-div-2 {
        border-radius: 0.625vw;
        background-color: #F8F9FB;
    }

    .flex-gap {
        gap: 2vw;
    }

    .section-fifth {
        min-height: 100vh;
    }

    .section-fifth .card-gap {
        gap: 2vw;
    }

    .section-sixth {
        min-height: 40vh;
    }

    .section-seventh {
        min-height: 60vh;
        background: #FAFBFC
    }

    .section-seventh p {
        color: #437EF7;
    }

    .submit-input {
        height: 2.875vw;
        padding: 1.7vw 1.5vw;
        border-radius: 0.375vw 0vw 0vw 0.375vw;
        color: white;
        background: #2C3444;
        border: 1px solid #2C3444;
    }

    .submit-button {
        height: 2.875vw;
        padding: 1.7vw 1.5vw;
        border-radius: 0vw 0.375vw 0.375vw 0vw;
    }

    .footer {
        min-height: 65vh;
        background: #151B28;
    }

    .footer-font {
        font-size: 1.3em;
    }

    .check {
        display: flex;
        width: 1.25vw;
        height: 1.25vw;
        padding: 0.28125vw 0.25vw 0.21875vw 0.25vw;
        justify-content: center;
        align-items: center;
        border-radius: 1.25vw;
        background: #437EF7;
    }