    :root {
        --blue: #2B63D9;
    }

    body {
        font-family: 'Inter';
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    /* @media (min-width: 768px) {
      
      } */

    .inner_Cont {
        align-self: stretch;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 2;
    }


    .gap-large {
        gap: 1.5rem;
    }

    .gap-small {
        gap: 0.5rem;
    }

    .inner_Cont .btn {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        background: #437EF7;
    }

    .pic {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    .foot {
        background-color: #151B28;
    }

    .center-align {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .end-align {
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .align-self {
        align-self: stretch;
    }

    .gap {
        gap: 4rem;
    }


    .icn {
        margin-left: -1rem;
    }

    .my-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media only screen and (max-width: 767px) {
        .sub-align{
            display:flex;
            align-items:center;
            justify-content: center;
        }
        .align-checkboxes {
            display: flex;
            align-items: start;
            justify-content: start;
        }
        .align-center-between {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .align-self-center{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .submit-input {
            height: 1.875rem;
            padding: 1.3rem 1.5rem;
            border-radius: 0.375rem 0rem 0rem 0.375rem;
            color: white;
            background: #2C3444;
            border: 1px solid #2C3444;

        }

        .align-center-start {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-background {
            background: #437EF7
        }

        .submit-button {

            height: 1.875rem;
            padding: 1.3rem 1.5rem;
            border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
        }

        .email-bar {
            height: 1.875rem;
            padding: 1.3rem 1.5rem;
            border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;

        }

        .nav-height {
            min-height: 2vh
        }

        .footer-font {
            font-size: 1rem;
        }

        .card-head {

            font-size: 1.3rem;
            font-style: bold;
            font-weight: 600;
            line-height: 1.5rem;
            letter-spacing: -0.01375rem;
        }


        .card-body-manual {
            color: #5F6D7E;
            /* Text L/Regular */
            font-family: 'Inter';
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2rem;
            letter-spacing: -0.00625rem;
        }

        .blog-img {
            width: 2.7rem;
            height: 2.7rem;
        }

        .menu-height {
            min-height: 50vh;
        }

        .nav-height {
            min-height: 5vh
        }

        .head-text {
            font-size: 2.1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.5rem;
            letter-spacing: -0.0325rem;
        }

        .head-p-text {

            font-size: 1.1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.8rem;
            letter-spacing: -0.00625rem;
            color: #B1CCFB
        }
    }


    @media (min-width: 576px) {
        .wrapper {
            align-items: flex-end;
        }
    }

    @media (min-width: 992px) {
        .wrapper {
            align-items: flex-start;
            justify-content: center;
        }
    }

    @media only screen and (min-width: 768px) {
        .sub-align{
            display:flex;
            align-items:start;
            justify-content: start;
        }
        .align-checkboxes  {
            align-items: center;
            justify-content: center;
        }
        .align-center-between {
            display: flex;
            align-items: center;
            justify-content: end;
        }
        .submit-input {
            height: 2.875rem;
            padding: 1.7rem 1.5rem;
            border-radius: 0.375rem 0rem 0rem 0.375rem;
            color: white;
            background: #2C3444;
            border: 1px solid #2C3444;
        }

        .align-center-start {
            display: flex;
            align-items: start;
            justify-content: start;
        }

        .submit-button {
            height: 2.875rem;
            padding: 1.7rem 1.5rem;
            border-radius: 0rem 0.375rem 0.375rem 0rem;

        }

        .email-bar {
            height: 2.875rem;
            padding: 1.7rem 1.5rem;
            border-radius: 0.375rem 0rem 0rem 0.375rem;

        }

        .nav-height {
            min-height: 5vh
        }

        .head-text {
            font-size: 2.1rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.5rem;
            letter-spacing: -0.0325rem;
        }

        .head-p-text {

            font-size: 1.1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.8rem;
            letter-spacing: -0.00625rem;
            color: #B1CCFB
        }

        .wrapper {
            align-items: flex-end;
            justify-content: flex-end;
        }

    }

    @media only screen and (min-width: 991px) and (max-width:1200px) {
        .nav-height {
            min-height: 6vh
        }

        .footer-font {
            font-size: 1.1rem;
        }

        .head-text {
            font-size: 4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5rem;
            letter-spacing: -0.0325rem;
        }

        .menu-height {
            min-height: 100vh;
            width: 100%
        }

        .card-head {

            font-size: 1rem;
            font-style: bold;
            font-weight: 600;
            line-height: 1.5rem;
            letter-spacing: -0.01375rem;
        }

        .card-body-manual {
            color: #5F6D7E;
            /* Text L/Regular */
            font-family: 'Inter';
            font-size: 0.7rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2rem;
            letter-spacing: -0.00625rem;
        }
    }

    @media only screen and (min-width:1201px) {
        .nav-height {
            min-height: 9vh
        }

        .footer-font {
            font-size: 1.3rem;
        }

        .head-text {
            font-size: 4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 5rem;
            letter-spacing: -0.0325rem;
        }

        .head-p-text {

            font-size: 1.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem;
            letter-spacing: -0.00625rem;
            color: #B1CCFB
        }

        .menu-height {
            min-height: 90vh;
            width: 100%
        }

        .blog-img {
            width: 3.5rem;
            height: 3.5rem;
        }

        .card-head {
            font-size: 1.5rem;
            font-style: bold;
            font-weight: 600;
            line-height: 1.875rem;
            letter-spacing: -0.01375rem;
        }

        .card-body-manual {
            color: #5F6D7E;
            font-family: 'Inter';
            font-size: 1.1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: -0.00625rem;
        }
    }



    @media only screen and (min-width: 991px) {


        .menu-height {
            min-height: 90vh
        }

        .img-min-height {
            min-height: 75vh
        }

        .align-self-center {
            display: flex;
            align-items: start;
            justify-content: start;
        }
    }

    @media only screen and (max-width: 350px) {
        .footer-font {
            font-size: 0.8rem;
        }

        .card-head {

            font-size: 1rem;
            font-style: bold;
            font-weight: 600;
            line-height: 1.2rem;
            letter-spacing: -0.01375rem;
        }


        .card-body-manual {
            color: #5F6D7E;
            /* Text L/Regular */
            font-family: 'Inter';
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;
            letter-spacing: -0.00625rem;
        }

    }

    @media only screen and (min-width:768px) and (max-width: 990px) {
        .align-self-between{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card-head {
            font-size: 1.5rem;
            font-style: bold;
            font-weight: 600;
            line-height: 1.875rem;
            letter-spacing: -0.01375rem;
        }

        .card-body-manual {
            color: #5F6D7E;
            font-family: 'Inter';
            font-size: 1.1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: -0.00625rem;
        }

        .menu-height {
            min-height: 85vh;
        }
    }

    .align-self {
        align-self: stretch;
    }

    .section {
        min-height: 85vh;
    }

    .brand {
        margin-left: 12%;
        margin-right: 2%;
    }

    .img-label {
        width: 2rem;
        height: 2rem;
    }

    .section-three h5 {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 600;
    }

    .section-three p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .p-space {
        line-height: 1.5;
    }

    .text-style {
        font-weight: 700;
        font-size: 2rem
    }

    .head {
        background: var(--blue)
    }

    .blue-var {
        background: var(--blue)
    }

    .section-head-img {
        background: #437EF7;
    }

    .full-height {
        height: 100%;
    }

    .round {
        width: 3.5vw;
        height: 3.5vw;
        display: inline-block;
        /* Adjust display property as needed */
    }

    .section-third {
        min-height: 100vh;
        background: #151B28;
    }

    .section-fourth {
        min-height: 60vh;
        padding: 4rem 0rem;
    }

    #blog p {
        font-size: 0.9375rem;
    }

    #blog img {
        width: 2.4rem;
        padding-right: 0px;
    }

    .sf-div-2 {
        border-radius: 0.625rem;
        background-color: #F8F9FB;
    }

    .flex-gap {
        gap: 2rem;
    }

    .section-fifth {
        min-height: 100vh;
    }

    .section-fifth .card-gap {
        gap: 2rem;
    }

    .section-sixth {
        min-height: 40vh;
    }

    .section-seventh {
        min-height: 60vh;
        background: #FAFBFC
    }

    .section-seventh p {
        color: #437EF7;
    }


    .footer {
        /* min-height: 65vh; */
        background: #151B28;
    }

    .check {
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        padding: 0.28125rem 0.25rem 0.21875rem 0.25rem;
        justify-content: center;
        align-items: center;
        border-radius: 1.25rem;
        background: #437EF7;
    }

    .submit-btn-color {
        background: #437EF7
    }

    .align-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-column{
        display:flex;
        flex-direction: column;
    }
    .align-end{
        display:flex;
        align-items:center;
        justify-content:end;
    }
    .content-center{
        display: flex;
        justify-content: center;
    }
   